{% extends "layout.html" %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    </a>
    <h1>WELCOME TO MY INSTAGRAM</h1>








    <a type="button" class="btn btn-lg btn-default" href="https://www.instagram.com/"><span class="glyphicon glyphicon-flash"></span> WELCOME TO INSTAGRAM.</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.instagram.com/sai.turquoise.starlight/"><span class="glyphicon glyphicon-download"></span> SAI.TURQUOISE.STARLIGHT</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    You can follow interesting people on INSTAGRAM. <a href="https://www.instagram.com/sai.turquoise.starlight/" class="alert-link">SAI.TURQUOISE.STARLIGHT</a>
  </div>

    <div>
        <span class="glyphicon glyphicon-asterisk"><p> SOCIAL MEDIA is EVERYWHERE. Everyone is active on any of the social media platforms. </p>

            <p>





            </p>




        <ul>

                <span class="glyphicon glyphicon-asterisk"><p> SOCIAL MEDIA HAS BECOME AN INTEGRAL PART OF THE LIVES OF THE PEOPLE IN THE 21ST CENTURY.</p>

        </ul>

        <ul><li> INSTAGRAM</li>
            IT IS A POPULAR PLATFORM FOR POSTING PICTURES.<a type="button" class="btn btn-lg btn-default" href="https://www.instagram.com/"><span class="glyphicon glyphicon-flash"></span> WELCOME TO INSTAGRAM.</a>


            <li>FACEBOOK</li>
            IT IS A SOCIAL MEDIA PLATFORM WHERE YOU CAN CONNECT WITH PEOPLE.<a type="button" class="btn btn-lg btn-default" href="https://www.facebook.com/"><span class="glyphicon glyphicon-flash"></span> WELCOME TO FACEBOOK.</a>



            <li> SNAPCHAT</li>
            IT IS A PLATFORM WHERE YOU CAN POST SHORT VIDEOS AND USE SEVERAL FILTERS TO MAKE IT.<a type="button" class="btn btn-lg btn-default" href="https://www.snapchat.com/"><span class="glyphicon glyphicon-flash"></span> WELCOME TO SNAPCHAT.</a>


        </ul>




        <ul>



                <span class="glyphicon glyphicon-asterisk"><p> Millenials are always online. And so are the Baby boomers.</p>
            <p> There's so many different Slang words that you have to catch up on.</p>You can always find somethinhg new, something fresh and also something unusual on the world wide web.</p>
            <p> It is a beautiful world as long as you are careful.</p>
            <p>













            </p>


        </ul>
                <span class="glyphicon glyphicon-pushpin"><ul> BE AWARE!  </ul>

        <ul>

            <p>




            </p>
            <p> So Enjoy your time on the Internet. But be careful of: </p>
               <ul> <li>MALWARE</li>

                <li>VIRUSES</li>

                <li>PHISHING</li>


               </ul>


                <span class="glyphicon glyphicon-asterisk">

            <p> You have to make sure that your sensitive data cannot get into the hands of a hacker who may use it for their benefit leaving you in trouble.</p>
            <p>






            </p>
        </ul>
    </div>



  <hr>
  <div class="row">
    <div class="col-md-6">
                        <span class="glyphicon glyphicon-asterisk"><h3> FOLLOW PEOPLE</h3>
      <ul>
        <p> You may connect with new people from your city or from another country. </p>
        <p> It is a chance to make new friends.</p>

                <span class="glyphicon glyphicon-user">

                    <p>    SAILI SONAWANE  </p>

      </ul>
    </div>
    <div class="col-md-6">
                        <span class="glyphicon glyphicon-asterisk"><h3>FOLLOW CLEBRITIES</h3>
      <ul>
        <li>



                <span class="glyphicon glyphicon-user">OH SEHUN












            <a href="https://www.instagram.com/oohsehun/"></a></li>
          <images
          src="https://www.instagram.com/p/BIUpvt0n1oz/?taken-by=oohsehun">
        <ul>
        </ul>
      </ul>

                                            <span class="glyphicon glyphicon-asterisk"><h3>FOLLOW FAMOUS ARTISTS</h3>
      <ul>
        <li>


                <span class="glyphicon glyphicon-user">KIM JONG IN









            <a href="https://www.instagram.com/zkdlin/"></a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">

  </div>
</div>

    <table class ="table">
      <thead>
    <tr>
        <th scope="col">#</th>


      <th scope="col">FIRST</th>
      <th scope="col">LAST</th>
      <th scope="col">HANDLE</th>
        <th scope="col">EMAIL</th>
        <th scope="col">COUNTRY</th>
    </tr>

      </thead>
    <tbody>
    <tr>
      <th scope="row"A></th>
      <td> SAILI</td>
      <td> SONAWANE</td>
      <td> @sai.turquoise.starlight</td>
        <td>sai@gmail.com</td>
        <td>INDIA</td>

    </tr>

    <tr>
      <th scope="row"B></th>
      <td> SEHUN</td>
      <td> OH</td>
      <td> @oohsehun</td>
        <td> sehun@gmail.com</td>
        <td>SOUTH KOREA</td>


    </tr>

    <tr>
      <th scope="row"C></th>
      <td> JONGIN</td>
      <td> KIM</td>
      <td> @zkdlin</td>
        <td> jongin@gmail.com</td>
        <td> SOUTH KOREA </td>

    </tr>








    </tbody>

    </table>


{% endblock %}
