{% extends "layout2.html" %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
      <img src="/">
    </a>
    <h1>WELCOME TO MY INSTAGRAM</h1>
    <p>SOCIAL MEDIA is EVERYWHERE. Everyone is active on any of the social media platforms. </p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.instagram.com/"><span class="glyphicon glyphicon-flash"></span> WELCOME TO INSTAGRAM.</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.instagram.com/sai.turquoise.starlight/"><span class="glyphicon glyphicon-download"></span> SAI.TURQUOISE.STARLIGHT</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    You can follow interesting people on INSTAGRAM. <a href="https://www.instagram.com/sai.turquoise.starlight/" class="alert-link">SAI.TURQUOISE.STARLIGHT</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3> FOLLOW PEOPLE</h3>
      <ul>
        <p> You may connect with new people from your city or from another country. </p>
        <p> It is a chance to make new friends.</p>


      </ul>
    </div>
    <div class="col-md-6">
      <h3>FOLLOW CLEBRITIES</h3>
      <ul>
        <li>




            OH SEHUN












            <a href="https://www.instagram.com/oohsehun/"></a></li>
          <images
          src="https://www.instagram.com/p/BIUpvt0n1oz/?taken-by=oohsehun">
        <ul>
        </ul>
      </ul>
      <h3>FOLLOW FAMOUS ARTISTS</h3>
      <ul>
        <li>




            KIM JONG IN









            <a href="https://www.instagram.com/zkdlin/"></a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">

  </div>
</div>

    <table class ="table">
      <thead>
    <tr>
        <th scope="col">#</th>


      <th scope="col">FIRST</th>
      <th scope="col">LAST</th>
      <th scope="col">HANDLE</th>

    </tr>

      </thead>
    <tbody>
    <tr>
      <th scope="row"A></th>
      <td> SAILI</td>
      <td> SONAWANE</td>
      <td> @sai.turquoise.starlight</td>
    </tr>

    <tr>
      <th scope="row"B></th>
      <td> SEHUN</td>
      <td> OH</td>
      <td> @oohsehun</td>

    </tr>

    <tr>
      <th scope="row"C></th>
      <td> JONGIN</td>
      <td> KIM</td>
      <td> @zkdlin</td>


    </tr>



    </tbody>

    </table>


{% endblock %}
